
@font-face {
    font-family: 'Sora';
    src: url('/fonts/Sora-Bold.ttf') format('truetype');
    src: url('/fonts/Sora-ExtraBold.ttf') format('truetype');
    src: url('/fonts/Sora-ExtraLight.ttf') format('truetype');
    src: url('/fonts/Sora-Light.ttf') format('truetype');
    src: url('/fonts/Sora-Medium.ttf') format('truetype');
    src: url('/fonts/Sora-Regular.ttf') format('truetype');
    src: url('/fonts/Sora-SemiBold.ttf') format('truetype');
    src: url('/fonts/Sora-Thin.ttf') format('truetype');
}
body{
    margin:0;
    background-color: #FCFCFF;
}

header {
     display: flex;
     align-items: center;
     justify-content: space-between;
     background-color: #fff;
     padding: 0px 20px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

header img {
    margin-right: 20px;
}

header nav {
    display: flex;
    align-items: center;
    padding: 0;
}

header nav a {
    font-family: "Sora Regular", sans-serif;
    font-weight: 400;
    margin: 0;
    text-decoration: none;
    color: black;
    padding: 40px 20px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 20px;
}

header nav a:hover {
    background-color: #EB5D21;
    color: white;
}
footer {
     background: #333;
     color: #fff;
     text-align: center;
     margin-top: -50px;
}
#mainBase {
    margin-top: 103px;
    flex: 1;
    padding-bottom: 100px;
}
.containerBase {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
#content-wrapBase {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}