
body{
    margin:0;
    background-color: #FCFCFF;
}

header {
     display: flex;
     align-items: center;
     justify-content: space-between;
     background-color: #fff;
     padding: 0px 20px;
}

header img {
    margin-right: 20px;
}

header nav {
    display: flex;
    align-items: center;
    padding: 0;
}

header nav a {
    margin: 0;
    text-decoration: none;
    color: black;
    padding: 40px 20px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 20px;
}

header nav a:hover {
    background-color: #EB5D21;
    color: white;
}
footer {
     background: #333;
     color: #fff;
     text-align: center;
     margin-top: -50px;
}
main {
    flex: 1;
    padding-bottom: 100px;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
#content-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}