body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fcfcfc;
}

.upload-container {
    text-align: center;
    margin: 60px 100px;
    margin-bottom: 0px;
}

.file-upload {
    border: 2px solid #ccc;
    padding: 30px 20px;
    margin: 30px 150px;
    border-radius: 21px;
    border: 1px solid #F0F0F0;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.upload-instructions {
    margin-bottom: 20px;
}

.icon-placeholder {
    font-size: 50px; /* Icon size */
    color: #FF8C61; /* Icon color */
}

.file-input-label {
    background-color: #FF8C61;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block; /* Needed to align with the text */
    margin-bottom: 10px;
}

.file-input-label:hover {
    opacity: 0.8;
}

#file-input {
    opacity: 0;
    position: absolute;
    z-index: -1;
    width: 0.1px;
    height: 0.1px;
}

.file-display {
    margin: 20px 150px;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

td {
    padding: 8px;
    text-align: center;
}

.delete-button {
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    margin-left: 1px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.delete-button:hover {
    opacity: 0.8;
}

#titlediv {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#title{
    border-radius: 14px;
    border: 1px solid #F0F0F0;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 20px;
    font-size: 20px;
    width: 100%;
    outline: none;
}

.p1{
    font-size: 20px;
}

select {
    width: 114%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    height: 45px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px;
    border: 1px solid #f0F0F0;
    border-radius: 14px;
    background-color: white;
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 140 140" width="10" height="10" xmlns="http://www.w3.org/2000/svg"><g><path d="M35,45l70,0l-35,35l-35,-35Z" fill="%23007BFF"/></g></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    cursor: pointer;
    outline: none;
}

.info-table{
    width: 50%; /* Adjust the width as needed */
    margin: auto; /* Centers the table horizontally */
    border-collapse: collapse;
}
.info-table td{
    padding: 10px;
    text-align: right;
    font-size: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the start of the flex container */
    padding: 20px;
    gap: 20px; /* Adds space between the flex items */
    margin: 0 70px; /* Centers the flex container */
}

.description-container {
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: white;
    border-radius: 10px;
    height: fit-content; /* Fit the height to the content */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Recipe Details Styles */
.recipe-details-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: white;
    border-radius: 10px;
    margin: 5px;
    padding: 20px 10px; /* Increase padding for larger inner space */
    width:35%;
    height: 100%;
}

.recipe-info-table {
    width: auto;
    margin: auto;
}

.recipe-info-table td {
    padding: 2px;
    vertical-align: middle;
}

.recipe-info-table td:first-child {
    text-align: right;
    font-weight: bold;
    color: #555;
}

.recipe-info-table input[type="text"] {
    width: 100px; /* Adjust width taking padding into account */
    padding: 10px;
    border: none;
    border-bottom: 1px solid #808080;
    font-size: 16px; /* Make the font size consistent */
    outline: none;
}

.fa {
    margin-right: 5px;
    color: #000;
}

.rd {
    padding-left: 10px; /* Add padding to the left of 'mins' and 'people' */
}

.description-container {
    display: flex; /* Use flexbox to align children */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
    background: white;
    padding: 10px 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5px;
    height: fit-content; /* Adjust height based on content */
    width: 65%;
}

/* Recipe Description Styles */
.description-container textarea {
    width: 100%;
    height: 150px;
    padding: 15px;
    border: none;
    font-family: inherit;
    resize: none;
    overflow-y: auto;
    font-size: 16px;
}

.description-container textarea::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
}

.description-container textarea:focus {
    outline: none;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    margin: auto;
}

.ingredients-container,
.cooking-container {
    flex: 1 1 300px; /* Flex grow, shrink, and basis */
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    text-align: center;
    height: fit-content;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}


.ingredients-container ul,
.cooking-container ul {
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    outline: none;
}

.ingredients-container li,
.cooking-container li {
    margin-bottom: 10px;
    outline: none;
}

.ingredients-container li input,
.cooking-container li input {
    width: calc(100% - 22px);
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    outline: none;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .ingredients-container,
    .cooking-steps-container {
        flex-basis: 90%;
    }
}

#publishbtn2{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
}

#pbtn{
    background: #FF8C61;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    display: block;
    width: 20%;
    height: 45px;
    margin: 10px auto;
    box-sizing: border-box;
    flex-shrink: 0;
    font-weight: bold;
}

#pbtn:hover{
    opacity: 0.8;
}

.description-container1 {
    display: flex; /* Use flexbox to align children */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
    background: white;
    padding: 10px 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    height: fit-content; /* Adjust height based on content */
    width: 40%;
}

/* Recipe Description Styles */
.description-container1 textarea {
    width: 100%;
    height: 150px;
    padding: 15px;
    border: none;
    font-family: inherit;
    resize: none;
    overflow-y: auto;
    font-size: 16px;
}

.description-container1 textarea::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
}

.description-container1 textarea:focus {
    outline: none;
}
