.gallery-wrapper {
    position: relative;
    width: 80%; /* Set the width you desire for the gallery */
    max-width: 960px; /* Maximum width of the gallery */
    margin: 10px auto;
}

textarea:disabled {
    background-color: #ffffff;
}
input:disabled {
    background-color: #ffffff;
}
.horizontal-scroll-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
}
.image-wrapper {
    display:flex;
    overflow-x: auto;
}
.image-wrapper::-webkit-scrollbar {
    display: none;
}
#scroll-left, #scroll-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #FF8C61;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    opacity: 0.7;
    font-size: 2em;
    margin: 0 -10%;
}

#scroll-left:hover, #scroll-right:hover {
    opacity: 1;
}

#scroll-left {
    left: 0;
}

#scroll-right {
    right: 0;
}

.horizontal-scroll-container img {
    max-height: 250px;
    flex-shrink: 0;
    border-radius: 10px;
    margin: 0 5px;
    border: 1px solid none;
}

/* Hide scrollbar */
.horizontal-scroll-container::-webkit-scrollbar {
    display: none;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fcfcfc;
}

.upload-container {
    text-align: center;
    margin: 60px 100px;
    margin-bottom: 0px;
}


#file-input {
    opacity: 0;
    position: absolute;
    z-index: -1;
    width: 0.1px;
    height: 0.1px;
}

.file-display {
    margin: 20px 150px;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

td {
    padding: 8px;
    text-align: center;
}

.delete-button:hover {
    opacity: 0.8;
}

#titlediv {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#title{
    border-radius: 14px;
    border: 1px solid #F0F0F0;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 20px;
    font-size: 20px;
    width: 100%;
    outline: none;
}

#p1{
    font-size: 20px;
}

select {
    width: 114%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    height: 45px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px;
    border: 1px solid #f0F0F0;
    border-radius: 14px;
    background-color: white;
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 140 140" width="10" height="10" xmlns="http://www.w3.org/2000/svg"><g><path d="M35,45l70,0l-35,35l-35,-35Z" fill="%23007BFF"/></g></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    cursor: pointer;
    outline: none;
}

.info-table{
    width: 50%; /* Adjust the width as needed */
    margin: auto; /* Centers the table horizontally */
    border-collapse: collapse;
}
.info-table td{
    padding: 10px;
    text-align: right;
    font-size: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the start of the flex container */
    padding: 20px;
    gap: 20px; /* Adds space between the flex items */
    margin: 0 70px; /* Centers the flex container */
}

.recipe-details-container, .description-container {
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: white;
    border-radius: 10px;
    margin: 5px;
    height: fit-content; /* Fit the height to the content */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Recipe Details Styles */
.recipe-details-container {
    padding: 20px 20px; /* Increase padding for larger inner space */
    width:30%;
}

.recipe-info-table {
    width: auto;
    margin: auto;
}

.recipe-info-table td {
    padding: 7px;
    vertical-align: middle;
}

.recipe-info-table td:first-child {
    text-align: right;
    font-weight: bold;
    color: #555;
}

.recipe-info-table input[type="text"] {
    width: 100px; /* Adjust width taking padding into account */
    padding: 10px;
    border: none;
    border-bottom: 1px solid #808080;
    font-size: 16px; /* Make the font size consistent */
    outline: none;
}

.fa {
    margin-right: 5px;
    color: #000;
}

#rd {
    padding-left: 10px; /* Add padding to the left of 'mins' and 'people' */
}

.description-container {
    display: flex; /* Use flexbox to align children */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
    width: 300px; /* Adjust width as needed */
    background: white;
    padding: 10px 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    height: fit-content; /* Adjust height based on content */
    width: 70%;
}

/* Recipe Description Styles */
.description-container textarea {
    width: 100%;
    height: 150px;
    padding: 15px;
    border: none;
    font-family: inherit;
    resize: none;
    overflow-y: auto;
    font-size: 16px;
}

.description-container textarea::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
}

.description-container textarea:focus {
    outline: none;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px; /* Adjust the max width as necessary */
    margin: auto;
}

.ingredients-container,
.cooking-container {
    flex: 1 1 300px; /* Flex grow, shrink, and basis */
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    text-align: center;
    height: fit-content;
}

.cooking-container1 {
    flex: 1 1 300px; /* Flex grow, shrink, and basis */
    padding: 20px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    height: fit-content;
}


h2 {
    text-align: center;
    margin-bottom: 20px;
}


.ingredients-container ul,
.cooking-container ul {
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    outline: none;
}

.ingredients-container li,
.cooking-container li {
    margin-bottom: 10px;
    outline: none;
}

.ingredients-container li input,
.cooking-container li input {
    width: calc(100% - 22px);
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    outline: none;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .ingredients-container,
    .cooking-steps-container {
        flex-basis: 90%;
    }
}

#comments {
    margin: 0px 20%; /* this centers the comment box */
    padding: 20px;
    margin-top: -20px;
}

#commentt{
    margin-left: 20px;
}

#gg{
    text-align: center;
}

#pbtn{
    background: #FF8C61;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    display: block;
    width: 20%;
    height: 45px;
    margin: 10px auto;
    margin-bottom: 20px;
    box-sizing: border-box;
    flex-shrink: 0;
    font-weight: bold;
}

#commentField {
    display: none;
    flex: 1 1 300px; /* Flex grow, shrink, and basis */
    padding: 20px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    height: fit-content;
}

#commentField textarea {
    width: 100%;
    height: 150px;
    padding: 15px;
    border: none;
    font-family: inherit;
    resize: none;
    overflow-y: auto;
    font-size: 16px;
}

#commentField textarea::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
}

#commentField textarea:focus {
    outline: none;
}

#idsubmit{
    background: #EB5D21;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    display: block;
    width: 20%;
    height: 45px;
    margin: 10px auto;
    margin-bottom: 20px;
    box-sizing: border-box;
    flex-shrink: 0;
    font-weight: bold;
}

#idsubmit:hover{
    opacity: 0.8;
}

#commentField {
    display: none;
    flex: 1 1 300px; /* Flex grow, shrink, and basis */
    padding: 20px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    height: fit-content;
}

#commentField textarea {
    width: 100%;
    height: 150px;
    padding: 15px;
    border: none;
    font-family: inherit;
    resize: none;
    overflow-y: auto;
    font-size: 16px;
}

#commentField textarea::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
}

#commentField textarea:focus {
    outline: none;
}

#idsubmit{
    background: #EB5D21;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    display: block;
    width: 20%;
    height: 45px;
    margin: 10px auto;
    margin-bottom: 20px;
    box-sizing: border-box;
    flex-shrink: 0;
    font-weight: bold;
}

#idsubmit:hover{
    opacity: 0.8;
}
