@font-face {
    font-family: 'Sora';
    src: url('/fonts/Sora-Bold.ttf') format('truetype');
    src: url('/fonts/Sora-ExtraBold.ttf') format('truetype');
    src: url('/fonts/Sora-ExtraLight.ttf') format('truetype');
    src: url('/fonts/Sora-Light.ttf') format('truetype');
    src: url('/fonts/Sora-Medium.ttf') format('truetype');
    src: url('/fonts/Sora-Regular.ttf') format('truetype');
    src: url('/fonts/Sora-SemiBold.ttf') format('truetype');
    src: url('/fonts/Sora-Thin.ttf') format('truetype');
}

body {
    font-family: Sora, sans-serif;
    background: #FFFFFF;
}

h1{
    color: #000;
    font-family: "Sora ExtraBold", sans-serif;
    font-size: 36px;
    font-style: normal;
    line-height: normal;
    text-align: center;
    margin-top: 42px;
}

.subheader {
    display: flex;
    justify-content: space-between;
    background-color: #FF8C61;
    padding: 10px;
}

.search{
    margin: 8px 0 8px 12px;
    padding-left: 10px;
    width: 500px;
    border-radius: 30px;
    background: #FCFCFC;
    flex-shrink: 0;
    border: 2px solid #FCFCFC;
}

.search:focus {
    border-color: #FCA70A;
    outline: none;
}
.search::placeholder {
    color: #999;
    font-style: italic;
}

.subheader-button{
    width: 214px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 8px;
    background-color: #FCA70A;
    color: white;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    margin: 10px 12px 10px 0;
    cursor: pointer;
    transition: transform 0.3s ease;
}

button:hover {
    transform: scale(1.1);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    margin-bottom:130px;
}

.recipe-card-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.recipe-card-link > * {
    pointer-events: none;
}

.recipe-card {
    background-color: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.3s;
    padding: 10px;
    cursor: pointer;
    border: 2px solid rgba(0,0,0,.15);
}

.recipe-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px #FF8C61;
}

.recipe-image {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #555555;
}

.favorite-button {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.favorite-button:hover {
    transform: scale(1.1);
}

.recipe-title{
    font-family: "Sora SemiBold", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #000000;
    margin: 20px 0px 0px 15px;
}

.recipe-user {
    font-family: "Sora Light", sans-serif;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 7px 0px 0px 15px;
}

.recipe-rating {
    color: gold;
    padding: 3px 6px;
    display: inline-block;
    margin: 10px 0px 15px 15px;
    border-radius: 5px;
    font-size: 0.8em;
}
.description-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 70px;
}
.description-section .description {
    width:40%;
    padding: 80px 60px 60px 60px;
    background-color: #F7F7F7;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease;
}

.description-section .description:hover {
    background-color: #FFF3E0;
}

.description-section .description h2 {
    font-family: "Sora SemiBold", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #555;
    margin: 0px 0px 60px 0px;
}
.description-section .description p {
    font-family: "Sora Regular", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #555;;
}
.description-section img {
    width: 60%;
    height: 600px;
    object-fit: cover;
    flex: 1;
    box-shadow: 0 8px 12px rgba(0,0,0,0.1);
    border-radius: 4px;
}
.AllRecipes-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 70px;
}

.AllRecipes-header h1 {
    color: #000;
    font-family: "Sora ExtraBold", sans-serif;
    font-size: 36px;
    font-style: normal;
    line-height: normal;
    margin: 0px 0px 0px 50px;
}
.AllRecipes-filter {
    width: 350px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #ffffff;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 16px;
    color: #333333;
    cursor: pointer;
    line-height: 1.5;
    outline: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

.AllRecipes-filter-wrapper {
    position: relative;
    display: inline-block;
    margin: 0px 50px 0px 0px;
}


.AllRecipes-filter-wrapper:after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #333333;
    font-size: 12px;
}


.AllRecipes-filter:hover {
    border-color: #aaaaaa;
}


.AllRecipes-filter:focus {
    border-color: #666666;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}


.AllRecipes-filter:active,
.AllRecipes-filter.show {
    border-color: #666666;
}
.Recipe-list-wrapper {
    margin: 0px 00px 60px 0px;
}
.Recipe-list{
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0px 0px 20px 100px;
}
.recipe-list-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.recipe-list-link > * {
    pointer-events: none;
}
.Recipe-list-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 20px;
    background-color: #555555;
}
.Recipe-list-info {
    margin: 0px 0px 0px 20px;
    border: 2px solid rgba(0,0,0,.15);
    border-radius: 10px;
    overflow: hidden;
    width: 1000px;
    padding: 20px;
    overflow-wrap: break-word;
}
.Recipe-list-favorite{
    cursor: pointer;
    background-color: #FCA70A;
    width:30px;
    height:30px;
    flex-shrink: 0;
    border-radius: 8px;
    color: white;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    transition: background-color 0.3s ease;
}
.Recipe-list-favorite:hover {
    background-color:#FF8C61;
}
.Recipe-list-info-header{
    display: flex;
    justify-content: space-between;
}
.Recipe-list-title{
    font-family: "Sora SemiBold", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #000000;
    margin: 0px 0px 10px 0px;
}
.Recipe-list-user {
    font-family: "Sora Light", sans-serif;
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0px 0px 10px 0px;
}
.Recipe-list-description{
    font-family: "Sora Regular", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #555;
    height: 80px;
    overflow: hidden;
    position: relative;
    padding: 0px 0px 0px 10px;
}

.Recipe-list-description p{
    margin: 0;
}
.Recipe-list-description::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(to bottom, transparent, #FFFFFF 100%);
    pointer-events: none;
}

.Recipe-list-rating {
    color: gold;
    padding: 3px 6px;
    display: inline-block;
    margin: 10px 0px 0px 0px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
}
.AllRecipes-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 40px;
}
.AllRecipes-footer-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Sora SemiBold", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: #FF8C61;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s, transform 0.2s;
    border: none;
    cursor: pointer;
    width: 214px;
    height: 40px;
}
.AllRecipes-footer-button:hover, .AllRecipes-footer-button:focus {
    background-color: #FCA70A;
    transform: translateY(-3px);
    outline: none;
}
.AllRecipes-footer-button:active {
    transform: translateY(1px);
}