<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/allrecipes.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>YumBookie - All Recipes</title>
</head>
<body>
<div id="content-wrapBase">
    <div th:replace="fragments/header :: header" > </div>
    <main id="mainBase">
        <div class="subheader">
            <form action="/navigation/search" method="get" class="search-form">
                <input class="search-input" type="text" name="keyword" placeholder="Looking for a recipe ?">
                <button class="search-button" type="submit"><i class="fas fa-search"></i></button>
            </form>
            <button class="subheader-button" type="submit">Publish</button>
        </div>
        <div class="AllRecipes-section">
            <div class="AllRecipes-header">
                <h1 th:text="${categoryName} ?: 'All Recipes'">All Recipes</h1>
                <form th:action="@{/navigation/filterRecipes}" method="get">
                    <div class="AllRecipes-filter-wrapper">
                        <select class="AllRecipes-filter" name="filter" onchange="this.form.submit()">
                            <option value="1" th:selected="${selectedFilter == '1'}">A-Z</option>
                            <option value="2" th:selected="${selectedFilter == '2'}">Z-A</option>
                            <option value="3" th:selected="${selectedFilter == '3'}">Best rated</option>
                            <option value="4" th:selected="${selectedFilter == '4'}">Worst rated</option>
                        </select>
                    </div>
                </form>


            </div>

            <div class="Recipe-list-wrapper">
                <!-- Recipe cards will be added here -->
                <div th:each="recipe : ${recipes}" class="Recipe-list">
                    <div class="Recipe-list-image">
                        <img th:if="${!#strings.isEmpty(recipe.image)}"
                             th:src="@{'/RecipeImages/' + ${#strings.arraySplit(recipe.image, ',')[0]}}"
                             alt="Recipe Image"/>
                    </div>
                    <div class="Recipe-list-info">
                        <div class="Recipe-list-info-header">
                            <h2 class="Recipe-list-title" th:text="${recipe.title}">Recipe Title</h2>
                            <button class="Recipe-list-favorite">♥</button>
                        </div>
                        <a th:href="@{/navigation/loadEachRecipe(id=${recipe.idRecipe})}" class="recipe-list-link">
                        <p class="Recipe-list-user" th:text="'By ' + ${recipe.user.name}">By User</p>
                        <div class="Recipe-list-description">
                            <p th:text="${recipe.description}">Recipe Description</p>
                        </div>
                        <div class="Recipe-list-rating" th:text="${recipe.rating}+'★'"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="AllRecipes-footer">
                <a href="" class="AllRecipes-footer-button">Show More</a>
            </div>
        </div>
    </main>
    <div th:replace="fragments/footer :: footer" > </div>
</div>
<script th:src="@{/js/header.js}"></script>
</body>
</html>
<script>
    const subheaderButton = document.querySelector('.subheader-button');
    subheaderButton.onclick = () => {
        location.href = '/navigation/loadAddRecipe';
    }
</script>