<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{base.css}" />
  <link rel="stylesheet" th:href="@{home.css}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <title>Title</title>
</head>
<body>
<div id="content-wrapBase">
  <div th:replace="fragments/header :: header" > </div>
  <main id="mainBase">
    <div class="subheader">
      <input class="search" type="text" placeholder="Looking for a recipe ?">
      <button>Publish</button>
    </div>
    <h1>Trending</h1>
    <div id="grid-container" class="grid-container">
      <!-- Recipe cards will be added here -->
    </div>
    <div class="description-section">
      <div class="description">
        <h2>YumBookie, your passport to a world of culinary delights!</h2>
        <p>Explore YumBookie, your culinary companion on a flavorful journey. Discover endless recipes for chefs of all levels, visualize dishes with high-quality images, find recipes by category, enjoy a user-friendly experience, savor global flavors, and enhance your skills with interactive features.</p>
      </div>
      <img class="description-image" src="images/description1.jpg" alt="food">
    </div>
  </main>
  <div th:replace="fragments/footer :: footer" > </div>
</div>
</body>
</html>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const recipes = [
      //test
      { title: 'Recipe 1', user: 'User 1', rating: 5 }, //f blast user atkoun name dial table user
      { title: 'Recipe 2', user: 'User 2', rating: 4 },
      { title: 'Recipe 3', user: 'User 3', rating: 3 }
    ];

    const container = document.getElementById('grid-container');

    if(recipes.length === 0) {
      container.innerHTML = '<p>No recipes available</p>';
    }else {
      recipes.forEach(recipe => {
        container.innerHTML += `
              <div class="recipe-card">
                  <input type="hidden" name="recipe_id" value="${recipe.id_recipe}">
                  <div class="recipe-image"></div>
                   <img src="/images/isfavorite.png" class="favorite-button" alt="Add to Favorites">
                  <h2 class="recipe-title">${recipe.title}</h2>
                  <p class="recipe-user">By ${recipe.user}</p>
                  <div class="recipe-rating">${'★'.repeat(recipe.rating)}</div>
              </div>
          `;
      });}

    ////////////////////

    favoriteButtons.forEach(button => {
      const recipeId = button.closest('.recipe-card').querySelector('input[name="recipe_id"]').value;
      CheckIsFavorite(recipeId);

      button.addEventListener('click', function() {

      });
    });

    function CheckIsFavorite(recipeId) {
    }

    function updateFavorites(recipeId, isFavorite) {
    }

    });
</script>