<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/base.css}"/>
  <link rel="stylesheet" th:href="@{/css/home.css}"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <title>YumBookie - Home</title>
</head>
<body>
<div id="content-wrapBase">
  <div th:replace="fragments/header :: header" > </div>
  <main id="mainBase">
    <div class="subheader">
      <input class="search" type="text" placeholder="Looking for a recipe ?">
      <button class="subheader-button" type="submit">Publish</button>
    </div>
    <h1>Trending</h1>
    <div id="grid-container" class="grid-container">
        <div th:each="recipe : ${trendingRecipes}" class="recipe-card">
          <a th:href="@{/navigation/loadEachRecipe(id=${recipe.idRecipe})}" class="recipe-card-link">
          <div class="recipe-image"></div>
          <h2 class="recipe-title" th:text="${recipe.title}"></h2>
          <p class="recipe-user" th:text="'By ' + ${recipe.user.name}"></p>
          <div class="recipe-rating" th:text="${recipe.rating}+'★'"></div>
          </a>
          <img src="/images/isfavorite.png" class="favorite-button" alt="Add to Favorites">
        </div>
    </div>
    <div class="description-section">
      <div class="description">
        <h2>YumBookie, your passport to a world of culinary delights!</h2>
        <p>Explore YumBookie, your culinary companion on a flavorful journey. Discover endless recipes for chefs of all levels, visualize dishes with high-quality images, find recipes by category, enjoy a user-friendly experience, savor global flavors, and enhance your skills with interactive features.</p>
      </div>
      <img class="description-image" src="/images/description1.jpg" alt="food">
    </div>
    <div class="AllRecipes-section">
      <div class="AllRecipes-header">
        <h1>All Recipes</h1>
        <div class="AllRecipes-filter-wrapper">
        <select class="AllRecipes-filter">
          <option value="1">Most Recent</option>
          <option value="2">Most Popular</option>
          <option value="3">Most Favorited</option>
        </select>
        </div>
      </div>
      <div class="Recipe-list-wrapper">
        <!-- Recipe cards will be added here -->
        <div th:each="recipe : ${recipes}" class="Recipe-list">
          <div class="Recipe-list-image"></div>
          <div class="Recipe-list-info">
            <div class="Recipe-list-info-header">
              <h2 class="Recipe-list-title" th:text="${recipe.title}">Recipe Title</h2>
              <button class="Recipe-list-favorite">♥</button>
            </div>
            <a th:href="@{/navigation/loadEachRecipe(id=${recipe.idRecipe})}" class="recipe-list-link">
            <p class="Recipe-list-user" th:text="'By ' + ${recipe.user.name}">By User</p>
            <div class="Recipe-list-description">
              <p th:text="${recipe.description}">Recipe Description</p>
            </div>
            <div class="Recipe-list-rating" th:text="${recipe.rating}+'★'"></div>
            </a>
          </div>
        </div>
      </div>
      <div class="AllRecipes-footer">
        <a href="/navigation/loadAllRecipes" class="AllRecipes-footer-button">Show More</a>
      </div>
    </div>
  </main>
  <div th:replace="fragments/footer :: footer" > </div>
</div>
<script th:src="@{/js/header.js}"></script>
</body>
</html>

<script>
  const subheaderButton = document.querySelector('.subheader-button');
    subheaderButton.onclick = () => {
        location.href = '/navigation/loadAddRecipe';
    }
</script>