
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>YumBookie - Sign Up</title>
<link rel="stylesheet" th:href="@{register.css}">

</head>
<body>
<div class="form-section">
<h5 class="brand-name">YumBookie</h5>
    <div class="form-container">
        <form th:action="@{/signup}" th:object="${user}" method="post">
            <h2>Sign Up</h2>
            <div class="input-group">
                <input th:field="*{name}" type="text" id="full-name" name="fullName" placeholder="Full Name"/>
            </div>
            <div class="input-group">
                <input th:field="*{email}" type="email" id="email" name="email" placeholder="Email"/>
            </div>
            <div class="input-group">
                <input th:field="*{password}" type="password" id="password" name="password" placeholder="Password"/>
            </div>
            <button type="submit" class="action-button">Join Now</button>
            <div class="login-btn">
                <a th:href="@{/login}">Already have an account, login</a>
            </div>
        </form>
    </div>

</div>
<div class="image-section">
    <!-- Placeholder for an image -->
</div>
</body>
</html>
